@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body { font-family: 'Open Sans', Tahoma, sans-serif; margin: 0; }
a { color: #eee; text-decoration: none; }
a:hover { text-decoration:underline; }
h1 { margin:20px 0; font-size:48px; }
h2 { margin:20px 0; font-size:36px; }
h3 { margin:20px 0; font-size:23px; }
h4 { margin:10px 0; font-size:16px; }

.wrapper { width:400px; margin:50px auto; }
.left { float:left; }
.right { float:right; }
.none { display:none; }
.text-center { text-align:center; }

.blueBg { background:#2c3338; color: #606468; }
.logo { font-weight:bold; }
.error { margin:10px 0; background-color:#c0392b; padding:20px; border-radius:3px; color:#eee; }
.userImage { border-radius:100%; }

#topbar { position:fixed; top:0; left:0; right:0; padding:10px 20px; color:#fff; }
#rightMenu { line-height:24px; margin-top:7px; }
#rightMenu .userImage { float:left; margin-right:5px; }
#rightMenu .menuLinks { margin-left:10px; float:right; font-size:12px; }
#inputMessage { position:fixed; bottom:0; left:0; right:0; }
#inputMessage input { padding:15px; width:100%; }

#messages { position:fixed; top:57px; left:0; right:0; bottom:49px; overflow-x:auto; padding:10px; line-height:24px; }
#messages .userImage { float:left; margin-right:7px; }
#messages .userName { color:#a3a3a3; }