<template name="login">
    <div id="loginForm">
        <p class="error none"><i class="fa fa-exclamation-triangle fa-lg"></i> Login failed. Try again.</p>
        <form>
            <p>
                <i class="fa fa-envelope-o fa-lg"></i>
                <input type="text" name="email" placeholder="em@il" />
            </p>
            <p>
                <i class="fa fa-key fa-lg"></i>
                <input type="password" name="password" placeholder="****" />
            </p>

            <input type="submit" value="Login" />
        </form>
        <p class="text-center">Not a member? <a href="#" class="signUp">Sign up now</a>! <i class="fa fa-arrow-right fa-lg"></i></p>
    </div>
</template>

<template name="register">
    <div id="registerForm" class="none">
        <form>
            <p>
                <i class="fa fa-user fa-lg"></i>
                <input type="text" name="nickname" placeholder="Your nickname" />
            </p>
            <p>
                <i class="fa fa-envelope-o fa-lg"></i>
                <input type="text" name="email" placeholder="em@il" />
            </p>
            <p>
                <i class="fa fa-key fa-lg"></i>
                <input type="password" name="password" placeholder="****" />
            </p>
            <input type="submit" value="Sign In" />
        </form>
        <p class="text-center">Already a member? <a href="#" class="logIn">Login now</a>! <i class="fa fa-arrow-right fa-lg"></i></p>
    </div>
</template>
